.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cities-cards-list-wrapper {
  margin: 5% 0% 5% 50%;
  width: 35%;
  border-radius: 0%;
  border-right: 3px black solid;
  padding-right: 10%;
  min-height: 20rem;
}
#root .search-field-wrapper {
  margin-left: 20rem;
  margin-top: 1rem;
}

.cities-cards-list-wrapper .city-card {
  margin-bottom: 5%;
  width: 100%;
  border: 1px black solid;
  margin-left: 2%;
  position: relative;
}

.cities-cards-list-wrapper .city-card .card-content {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* display: inline-flex; */
  padding: 10px;
  /* height: 80%; */
  /* width: 55%; */
}

.cities-cards-list-wrapper .city-card .card-content .left-grid {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.cities-cards-list-wrapper .city-card .card-content .right-grid {
  display: inline-flex;
}

.cities-cards-list-wrapper .city-card .card-content svg {
  margin-left: 10%;
  margin-top: 5%;
  fill: red;
}

.results-cards-list-wrapper {
  margin-top: 5%;
}
